.general {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  max-height: 6em;
}

.active .button_select {
  animation-name: whiteGlow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.button_select:hover {
  background-color: white;
  border: none;
}

.button_select {
  text-shadow: 0 0 0.1em white;
  border: none;
  background-color: rgba(255, 255, 255, 0.648);
  color: black;
  min-width: 4em;
  width: auto;
  font-family: monospace;
}

.button_select {
  font-weight: 200;
  text-shadow: 0 0 0.1em black;
  border-radius: 0.1em;
  padding: 0.1em 0.1em;
  margin: 0.2em;
  height: 2em;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-justify: center;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
}
