.searchBar input {
  width: 100%;
  position: relative;
  padding-left: 1rem;
  padding-right: 5rem;
  padding-top: 0.15rem;
  padding-bottom: 0.2rem;
  border-radius: 0rem 0rem 0rem 0rem;
  /* border-style: solid; */
  /* border-width: 2px; */
  /* border-color: black; */
  font-size: 1.5rem;
  opacity: 0.4;
  border: none;
  background-color: white;
  font-family: monospace;
}

.searchBar > input::placeholder {
  font-weight: 300;
  font-size: 1.4rem;
}

.buttonSearch {
  position: absolute;
  padding: 0.3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  border-color: rgb(30, 29, 29);
  border-style: solid;
  background-color: rgb(30, 29, 29);
  cursor: pointer;
  font-size: 1.04rem;
  color: white;
  font-family: monospace;
}

.buttonSearch:hover {
  background-color: black;
  border-color: black;
}

.buttonSearch2 {
  position: relative;
  display: flex;
  right: 5.5rem;
  bottom: 2.6rem;
  padding: 0.32rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  border-color: rgb(30, 29, 29);
  border-style: solid;
  background-color: rgb(30, 29, 29);
  cursor: pointer;
  font-size: 1.06rem;
  min-width: 6rem;
  color: white;
  font-family: monospace;
  top: -2.1rem;
}

.buttonSearch2:hover {
  background-color: black;
  border-color: black;
}
