.container {
  height: 65vh;
  display: grid;
  grid-template-columns: 1fr 18fr 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}

.prev,
.next {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev {
  grid-column: 1;
  grid-row: 1;
}
.next {
  grid-column: 3;
  grid-row: 1;
}

.imageContainer {
  grid-column: 2;
  grid-row: 1;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide,
.slide_active {
  position: absolute;
  transition: opacity ease-in-out 0.2s;
}

.slide {
  opacity: 0;
}

.slide img,
.slide_active img {
  max-width: 52vw;
  max-height: 60vh;
  object-fit: cover;
  border: solid 1px transparent;
  border-radius: 1em;
}

.slide_active {
  opacity: 1;
}

.button_slider {
  color: white;
  background: black;
  border: none;
  font-size: 2em;
  font-family: monospace;
  border-radius: 0.5rem;
  transition: all 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0;
}

.button_slider:hover {
  color: black;
  background-color: white;
}
