.pages {
  display: flex;
  align-items: center;
}

.button_select {
  text-shadow: 0 0 0.1em white;
  border: none;
  background-color: white;
  color: black;
  min-width: 4em;
  width: auto;
  border-radius: 2rem;
  padding: 0.3rem;
  margin-left: 0.3rem;
}

.button_select:hover {
  background-color: black;
  border: none;
  color: white;
}
